openapi: 3.1.0
info:
  version: 1.0.0
  title: Contact book
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: This is a documentation of —Åontact book app
tags:
  - name: Contacts
    description: Operations about contacts.
  - name: Auth
    description: Auth operations.
servers:
  - url: http://localhost:3000
  - url: https://spendy-mu36.onrender.com
paths:
  #   /auth/register:
  #     post:
  #       $ref: '../swagger/paths/auth/register/post.yaml'
  #   /auth/login:
  #     post:
  #       $ref: '../swagger/paths/auth/login/post.yaml'
  #   /auth/logout:
  #     post:
  #       $ref: '../swagger/paths/auth/logout/post.yaml'
  /categories:
    get:
      $ref: '../swagger/paths/categories/get.yaml'
  /summary/{period}:
    get:
      $ref: '../swagger/paths/summary/get.yaml'
  #   /transactions:
  #     get:
  #       $ref: '../swagger/paths/transactions/get.yaml'
  #     post:
  #       $ref: '../swagger/paths/transactions/post.yaml'
  #     patch:
  #       $ref: '../swagger/paths/transactions/patch.yaml'
  #     delete:
  #       $ref: '../swagger/paths/transactions/delete.yaml'
  /user:
    get:
      $ref: '../swagger/paths/user/get.yaml'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
